<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello from Virtual File.</h1>
    <p>
      <%= @delivery.user_name %> has sent you a file! %>
      To access it, click this link: <%= @delivery.url %>.<br>
    </p>

    <p>Have a great day!</p>
  </body>
</html>